<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<style>
body {

background : url("pexel.png");
}
</style>
<body>
<form action="register" method="post">

    {% csrf_token %}

    <input type="text" name="username" placeholder="Enter your username"> <br>
             <input type="text" name="first_name" placeholder="Enter your First Name"> <br>
             <input type="text" name="last_name" placeholder="Enter your Last name"> <br>
             <input type="email" name="email" placeholder="Enter your email address"> <br>
             <input type="password" name="password" placeholder="Enter your password"> <br>
    <input type="password" name="passwordre" placeholder="Confirm your password"> <br>
    <input type="submit"> <br>

</form>
<h1> {% for msg in messages %} </h1>
{{msg}}
{% endfor %}
</body>
</html>